<% title "Alle berichten" %>
<h2>Overzicht van alle berichten op deze Antorcha</h2>

<table class="styled">
  <tr>
    <th>Titel</th>
    <th>Berichtinhoud</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%=link_to message.title, message %></td>
      <td><%=h message.body %></td>
    </tr>
  <% end %>
</table>
