<% title "Alle berichten" %>
<h2>Overzicht van alle berichten op deze antorcha</h2>

<table>
  <tr>
    <th>Titel</th>
    <th>Berichtinhoud</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%=h message.title %></td>
      <td><%=h message.body %></td>
    </tr>
  <% end %>
</table>
