<% title "Message" %>

<p>
  <strong>Titel:</strong>
  <%=h @message.title %>
</p>
<p>
  <strong>Inhoud:</strong>
  <%=h @message.body %>
</p>

<p>
  <%= link_to "Bekijk alle berichten", messages_path %>
</p>
