<h2>De laatste 100 operaties</h2>
<p>Operaties worden gestart na het ontvangen van een bericht, en betreft bijvoorbeeld de operatie om een bericht te verwerken met een extern systeem. Ziet u geen operaties, verzeker uzelf er dan van dat het achtergrond proces ('delayed_job') draait.</p>
<table class="styled">
  <tr>
    <th>Betreft Bericht ID</th>
		<th>Gemaakt op</th>
		<th>Gewijzigd op</th>
  </tr>

<% @operations.each do |operation| %>
  <tr>
    <td><%=h operation.message_id %></td>
		<td><%=h operation.created_at %></td>
		<td><%=h operation.updated_at %></td>
  </tr>
<% end %>
</table>

<% content_for :sidebar do %>
<h3>Hoe start ik 'delayed_job'?</h3>
<p>Draai vanuit de console/terminal:</p>
<pre><p>ruby script/delayed_job start</p>	</pre>
<h3>Hoe controleer ik of delayed_job draait?</h3>
<p>Draai vanuit de console/terminal:</p>
<pre><p>ruby script/delayed_job status</p>	</pre>
<% end%>